.rightTextAlign {
    text-align: right;
}
.priceBorder {
    position: relative;
    background: linear-gradient(168.82deg, #FB37FF 1.7%, rgba(155, 111, 238, 0) 51.63%, rgba(123, 127, 234, 0) 51.64%, #1BB2DE 99.52%);
  border-radius: 18px;
}
.priceBorderOnly {
  border-radius: 18px;
}
.investButtonWidth {
  width: calc(100% - 40px);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.indexListContainer::-webkit-scrollbar {
  display: none;
}
.coinList::-webkit-scrollbar {
  display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */
.indexListContainer, .coinList {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
