.priceBorder {
    position: relative;
  background: linear-gradient(168.82deg, #fb37ff 1.7%, #1bb2de 99.52%);
  border-radius: 18px;
}
.priceBorderOnly {
  border-radius: 18px;
}
.newGraphBorder {
  background: linear-gradient(163.21deg, rgba(251, 55, 255, 0.5) 1.57%, rgba(176, 178, 239, 0.189) 24.95%, rgba(176, 178, 239, 0.189) 56.38%, rgba(27, 178, 222) 91.55%);
  border-radius: 18px;
  backdrop-filter: blur(100px);
}
.newGraphBorderInner {
  border-radius: 19px;
}
.newGraphBorder2 {
  background: linear-gradient(163.21deg, rgba(251, 55, 255, 0.5) 1.57%, rgba(176, 178, 239, 0.189) 24.95%, rgba(176, 178, 239, 0.189) 56.38%, rgba(27, 178, 222) 91.55%);
  border-radius: 18px;
  backdrop-filter: blur(100px);
}
.newGraphBorderInner2 {
  border-radius: 19px;
}
.transitionClass {
  transition: all 1s;
}
/* 
.priceBorder::after {
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(168.82deg, #fb37ff 1.7%, #1bb2de 99.52%);
    content: '';
    z-index: -1;
    border-radius: 8px;
} */



